* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  a {
    text-decoration: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Bo góc và thay đổi kích thước của thanh cuộn trên Chrome */
::-webkit-scrollbar {
  width: 10px; /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(30, 30, 30, 0.3); /* Màu sắc của thanh cuộn */
  border-radius: 6px; /* Bo góc của thanh cuộn */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu sắc của phần track (nơi không có thanh cuộn) */
}
