.modal-content {
  height: 664px;
  background: #fff;
  text-align: center;
  padding: 25px 0 0 0;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px rgba(9, 30, 66, 0.3),
    0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  .cont {
    width: 420px;
    margin: 0 auto 0 auto;
    .checkIcon {
      width: 70px;
      height: 70px;
    }
    h2 {
      font-size: 15px;
      font-weight: 700;
      margin: 15px;
    }
    .intro {
      font-size: 11px;
      font-weight: 500;
      margin: 0 0 15px 0;
    }
    .date,
    .method {
      text-align: left;
      .stitle {
        font-size: 13px;
        font-weight: 700;
        margin: 10px 0 5px 0;
      }
      .scont {
        font-size: 11px;
        font-weight: 600;
      }
    }
    .subTotal {
      font-size: 15px;
      font-weight: 600;
      //   margin: 35px 0 10px 0;
    }
    .taxCollected,
    .ship-cost {
      font-size: 15px;
      font-weight: 500;
      //   margin: 15px 0 20px 0;
    }
    .grandTotal {
      font-size: 15px;
      font-weight: 500;
      //   margin: 25px 0 25px 0;
    }
    .subTotal,
    .taxCollected,
    .ship-cost,
    .grandTotal {
      display: flex;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
    }
    button {
      width: 409px;
      cursor: pointer;
      height: 50px;
      border-radius: 8px;
      background: #eb6440;
      border: none;
      color: #fff;
      margin: 20px 0 0 0;
    }
  }
}
.container {
  .back {
    margin-top: 50px;
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      p {
        margin: 0;
      }
    }
  }
  .up {
    margin: 84px 0 84px 0;
    display: flex;
    justify-content: space-between;
    .shipping {
      .title {
        font-size: 28px;
        font-weight: 600;
      }
      .shipping-input {
        .name {
          width: 615px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            width: 295px;
          }
        }
        .name,
        .phonenumber,
        .address,
        .how,
        .cardname,
        .cardnum,
        .more-inf {
          margin-top: 24px;
        }
        p {
          font-size: 17px;
          font-weight: 500;
        }
        input {
          border: 2.5px solid #dfe2e6;
          border-radius: 10px;
          height: 60px;
          background-color: #f5f6f7;
        }
        .phonenumber input,
        .address input {
          width: 615px;
        }
      }
    }
    .payment {
      .title {
        font-size: 28px;
        font-weight: 600;
      }
      .payment-input {
        .name,
        .phonenumber,
        .address,
        .how,
        .cardname,
        .cardnum,
        .more-inf {
          margin-top: 24px;
        }
        .how {
          button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 60px;
            width: 248px;
            font-size: 15px;
            font-weight: 500;
            border-radius: 4px;
            border: 1.5px solid #243757;
            background: #f5f6f7;
            cursor: pointer;
          }
        }
        p {
          font-size: 17px;
          font-weight: 500;
          margin: 0;
        }
        input {
          border: 2.5px solid #dfe2e6;
          border-radius: 10px;
          height: 60px;
          background-color: #f5f6f7;
        }
        .cardname input,
        .cardnum input {
          width: 540px;
        }
        .more-inf {
          display: flex;
          justify-content: space-between;
          .date {
            text-align: left;
          }
          input {
            width: 260px;
          }
        }
      }
    }
  }
  .down {
    margin: 84px 0 120px 0;
    display: flex;
    justify-content: space-between;
    .order {
      p {
        font-size: 28px;
        font-weight: 600;
      }
      .order-box {
        width: 615px;
        height: auto;
        border-radius: 4px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
          linear-gradient(0deg, #f5f6f7, #f5f6f7),
          linear-gradient(0deg, #ffffff, #ffffff);
        border: 1px solid #ffffff;
        margin: 24px 0 0 0;
        .prd-inf {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 40px;
          color: #5c5c5c;
          img {
            width: 100px;
            height: 100%;
          }
          p {
            font-size: 13px;
            font-weight: 400;
            b {
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .summary {
      width: 540px;
      p {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 24px;
      }
      .item,
      .shipCost,
      .tax,
      .total {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
        font-size: 15px;
        font-weight: 500;
      }
      img {
        margin: 30px 0 20px 0;
      }
      button {
        width: 324px;
        height: 72px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
        background: #eb6440;
        color: #fff;
        border: none;
        margin: 50px auto 0 auto;
        display: block;
        cursor: pointer;
      }
    }
  }
}
